body {
  background-color: #C0D7EA;
  width: 100%;
}

header {
  background-image: url('/vendors/assets/April-produce-spectrum.jpg');
  margin: 0 -10px;
  width: 100%;
}

/*h1 is just title*/
h1 {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
  font-weight: bolder;
  opacity: 2;
  padding: 10px;
  margin: 0;
}

/*h3 is welcome text*/
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #FFFFFF;
}

form {
  color: #C0D7EA;
  font-family: 'Lora', serif;
}

button {
  background-color: #FFFFFF;
  border-radius: 5px;
}

input:focus {
  background-color: #e3fae0;
  border: 4px solid #82d278;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #201E50;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #201E50;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #201E50;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #201E50;
}

/*h4 is marketname*/
h4 {
  font-family: 'Montserrat', sans-serif;
  margin: 0px;
}

/*h5 is address*/
h5 {
  font-family: 'Lora', serif;
  margin: 0px;
}

/*h6 is schedule and products*/
h6 {
  font-family: 'Lora', serif;
  margin: 5px 0;
  font-size: 11px;
}

#details {
  display: none;
}

a {
  text-decoration: none;
  color: #000000;
  font-size: 10px;
  text-align: center;
}

input {
  border: 1px gray solid;
}

.show-less {
  display: none;
}

.markets {
  background-color: #C4F1BE;
  margin-bottom: 8px;
  padding: 4px;
}

.markets:hover {
  background-color: #82d278;
}
